body {
    background: url("../vendor/img/wallpaper.jpg") no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    padding-top: 56px;
}

h1{
    color: #ffffff
}

p{
    color: #ffffff
}

#start-purchase-btn {
    background-color: #23364e;
    border-color: #23364e;
    color: #ffffff;
}

#start-purchase-link {
    text-decoration: none;
    color: white;
}
